.menuHeaderBox{
    margin: 0px 20px;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    .border-bottom{
        display:flex;
        flex-direction: row;
        justify-content: center;
        .border-bottom-right{
            background-color:#fff;
            width: 0px;
            height: 5px;
            margin-top: 15px;
            display: inline-block;
            float: left;
        }
        .border-bottom-left{
            float:right;
            background-color:#fff;
            width: 0px;
            height: 5px;
            margin-top: 15px;
            display: inline-block;
        }
    }
    .content:hover+.border-bottom .border-bottom-left{
        animation: border-menu 0.5s;
    }
    .content:hover+.border-bottom .border-bottom-left{
        transition-delay: 0.5s;
        width: 15px;
    }
    .content:hover+.border-bottom .border-bottom-right{
        transition-delay: 0.5s;
        width: 15px;
    }
    
    .content:hover+.border-bottom .border-bottom-right{
        animation: border-menu 0.5s;
    }

    @keyframes border-menu{
        from {width: 0px;}
        to {width: 15px;}
    }

}
