.Header-Component{
   
    background-color: #aa0000;
    color : blanchedalmond;
    height: 100px;
    width: 100%;
    text-align: center;
    .Hotel-Name{
        margin-top: 0;
        padding-top:10px ;
    }
}